{% extends "base.html" %}
{% load static i18n %}
{% block container %}

<main class="main">
  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Service Details</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="current">Service Details</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->
  <!-- Service Details Section -->
  <section id="service-details" class="service-details section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
          {% if service.cov_img %}
              <img src="{{ service.cov_img.url }}" alt="{{ service.title }}" class="img-fluid">
          {% else %}
              <!-- Default şəkil (əgər yoxdursa) -->
              <img src="{% static 'assets/img/services.jpg' %}" alt="Default image" class="img-fluid">
          {% endif %}
        </div>
        <div class="service-content">
            <h4>{{ service.details_header }}</h4>
            
            <div class="service-text">
                <p>{{ service.details_text1|default:"Məlumat yoxdur"|truncatechars:1000 }}</p>
                <br>
                <p>{{ service.details_text2|default:"Məlumat yoxdur"|truncatechars:1000 }}</p>
                <br>
                <p>{{ service.details_text3|default:"Məlumat yoxdur"|truncatechars:1000 }}</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Service Details Section -->
</main>
{% endblock %}